@use "./partials/variables" as *;
@import '@fontsource/roboto';
@import "bootstrap/scss/bootstrap.scss";

img {
    max-width: 100%;
}

body {
    font-family: $main-font;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}